<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ddwucom.mobile.activitytest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SubAcitivity2">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/> //실행시키면 화살표 버튼이 생김

        </activity> // 자동등재됨
        <activity android:name=".MainActivity">
            //메인액티비티는 등록이 되어있음
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SubActivity1" />
    </application>

</manifest>